/* Solve loadmore button position */
.loadmore { top:11px; }

/* Solve filter button position */
.filter-list-margin { margin-top:7%; }
.generic-margin { margin-top:3%; }

/* Remove ellipsis in home and postsby views to show all titles and description */
.remove-ellipsis { text-overflow: ellipsis; overflow: visible; white-space: normal; }

pre {
    background-color: #E1E8F2 !important;
    border: 2px solid #E1E8F2 !important;
    color: #FFFFFF;
    font-family: Verdana, Arial, Segoe UI;
    font-size: 0.8em;
    margin-bottom: 1.5em !important;
    overflow-x: auto;
    padding: 2% !important;
	border-radius: 0.5em 0.5em 0.5em 0.5em;
	text-shadow : none;
}

/* Post links styles*/
#post [data-role="content"]  a { color: #0088CC; text-decoration:none; }
#post [data-role="content"]  a:hover { color: #005580; text-decoration: underline; outline:0 none;}

#postcomments  div { font-weight : normal;}
#postcomments  .relatedcomment { opacity:0.85; }
#postdescription { font-weight:normal; opacity:0.85; }

.ui-toast {
    color: #FFFFFF;
    background-color: #555;
    padding: 10px;
    font-size: 10pt;
    font-weight: normal;
    border: 1px solid #666;
    font-family:Helvetica, Arial, Sans-Serif;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    position: fixed;	
    z-index: 5000;	
}

.overflow-x-allowed { overflow-x : scroll; }

.center-image { width:100%; text-align:center; margin-top:3%;}
	.center-image img { max-width:300px; }
		
img[data-role="bgm-list-image"] { margin:20px 1%; height:70px; width:100%; background-size: 100%; }
  
