<!DOCTYPE html>
<html>
	<head>		
        <title></title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
		<link href="../css/jquery.mobile.theme.css" rel="stylesheet" type="text/css" />		
		<link href="../css/jquery.mobile.structure.css" rel="stylesheet" type="text/css" />		
        <link href="../css/styles.css" rel="stylesheet" type="text/css" />			
		<link rel="stylesheet" href="../css/jqm-icon-pack-2.1.2-fa.css" />
		<script type="text/javascript" src="../js/jquery.js"></script>
		<script type="text/javascript" src="../js/knockout-2.1.js"></script>
		<script type="text/javascript" src="../js/mapper.js"></script>		
        <script type="text/javascript" src="../js/url.parser.js"></script>
		<script type="text/javascript" src="../js/globalize.js"></script>
		<script type="text/javascript" src="../js/cultures/globalize.culture.es.js"></script>
        <script type="text/javascript" src="../js/binding-handlers.js"></script>
		<script type="text/javascript" src="../js/homeViewModel.js"></script>
        <script type="text/javascript" src="../js/postViewModel.js"></script>
        <script type="text/javascript" src="../js/postsbyViewModel.js"></script>
		<script type="text/javascript" src="../js/categoriesViewModel.js"></script>        
		<script type="text/javascript" src="../js/tagsViewModel.js"></script>        		
		<script type="text/javascript" src="../js/searchViewModel.js"></script>        						
		<script type="text/javascript">
		    $(document).bind("mobileinit", function () {
		        $.mobile.defaultPageTransition = "none";				
		        $.mobile.listview.prototype.options.filterPlaceholder = Globalize.localize("global_filteritems", navigator.language.substr(0, 2));		        
		    });		
		</script>		
		<script type="text/javascript" src="../js/jquery.mobile.js"></script>	
        <script src="../phonegap.js"></script>
        <script type="text/javascript" src="../js/bgm.app.js"></script>
		<script type="text/javascript" src="../js/bgm.init.js"></script>
        <script type="text/javascript" src="../js/bgm.toast.js"></script>
	</head>
	<body>
		<div id="post" data-role="page" data-add-back-btn="true">
			<div data-role="header" data-theme="a" data-position="fixed">
				<h1 data-bind="text : messages.global_sitename"></h1>		
				<a data-bind="attr : { href : '../main.html' }" data-role="button" data-icon="home" data-iconpos="notext" data-mini="true" data-inline="true" class="ui-btn-right"></a>				
			</div>
			<div data-role="content" data-theme="c" data-bind="with : post, visible : contentvisible">                
				<h3 class="ui-content ui-bar-b ui-corner-all" data-bind="text:title"></h3>
				<h4 id="postdescription" class="ui-content ui-bar-a ui-corner-all" data-bind="text:description"></h4>					
				<div class="center-image">
					<img data-bind="attr : { src : thumbnailpath, alt : category }" />
				</div>							
                <div data-bind="html:text"></div>
				<h3 class="ui-content ui-bar-b ui-corner-all" data-bind="text: $root.messages.post_comments, visible : $root.postcomments().length > 0"></h3>
				<div  id="postcomments" data-bind="foreach: $root.postcomments"> 
					<div class="ui-content ui-bar-d ui-corner-all comments-margin" >
						<h4 class="ui-content"><span data-bind="text: user"></span></h4>
						<p data-bind="html: message" />
						<div class="relatedcomment" data-bind="foreach: relatedcomments">
							<div class="ui-content ui-bar-c ui-corner-all comments-margin" >
								<h4 class="ui-content"><span data-bind="text: user"></span></h4>
								<p data-bind="html: message" />
							</div>						
						</div>
					</div>
				</div>
			</div>
			<div data-role="footer" data-theme="a" data-position="fixed">
				<div data-role="navbar">
					<ul data-bind="with:post">
						<li><a data-bind="jqmtext:$root.messages.global_categories, attr : { href : '../views/categories.html' }" data-role="button"  data-icon="book"></a></li>							   
						<li><a data-bind="jqmtext:$root.messages.global_tags, attr : { href : '../views/tags.html' } " data-role="button"  data-icon="tags"></a></li>							   
						<li><a data-bind="jqmtext:$root.messages.global_searchformore,  attr : { href : '../views/postsby.html?by=category&id='+ encodeURIComponent(category) }" data-role="button"  data-icon="plus"></a></li>							   
						<li><a data-bind="jqmtext:$root.messages.global_search, attr : { href : '../views/search.html' } " data-role="button"  data-icon="fasearch"></a></li>						
					</ul>
				</div>				
			</div>
		</div>
	</body>
</html>