<!DOCTYPE html>
<html>
	<head>		
        <title></title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
		<link href="../css/jquery.mobile.theme.css" rel="stylesheet" type="text/css" />		
		<link href="../css/jquery.mobile.structure.css" rel="stylesheet" type="text/css" />		
        <link href="../css/styles.css" rel="stylesheet" type="text/css" />			
		<link rel="stylesheet" href="../css/jqm-icon-pack-2.1.2-fa.css" />
		<script type="text/javascript" src="../js/jquery.js"></script>
		<script type="text/javascript" src="../js/knockout-2.1.js"></script>
		<script type="text/javascript" src="../js/mapper.js"></script>		
		<script type="text/javascript" src="../js/jquery.lazy.load.js"></script>						
        <script type="text/javascript" src="../js/url.parser.js"></script>
		<script type="text/javascript" src="../js/globalize.js"></script>
		<script type="text/javascript" src="../js/cultures/globalize.culture.es.js"></script>
		<script type="text/javascript" src="../js/ga.js"></script>
        <script type="text/javascript" src="../js/binding-handlers.js"></script>
		<script type="text/javascript" src="../js/homeViewModel.js"></script>
        <script type="text/javascript" src="../js/postViewModel.js"></script>
        <script type="text/javascript" src="../js/postsbyViewModel.js"></script>
		<script type="text/javascript" src="../js/categoriesViewModel.js"></script>        
		<script type="text/javascript" src="../js/tagsViewModel.js"></script>        		
		<script type="text/javascript" src="../js/searchViewModel.js"></script> 
		<script type="text/javascript" src="../js/bgm.app.js"></script>		
		<script type="text/javascript">
			var Application =  new App();
		    $(document).bind("mobileinit", function () {				
		        $.mobile.defaultPageTransition = "none";				
		        $.mobile.listview.prototype.options.filterPlaceholder = Globalize.localize("global_filteritems", Application.appLanguage());		        
				$.mobile.page.prototype.options.backBtnText = Globalize.localize("global_backbuttontext", Application.appLanguage());		        
				$.mobile.page.prototype.options.backBtnTheme = "a";
		    });		
		</script>		
		<script type="text/javascript" src="../js/jquery.mobile.js"></script>	
        <script src="../phonegap.js"></script>
        <script type="text/javascript" src="../js/bgm.app.js"></script>
		<script type="text/javascript" src="../js/bgm.init.js"></script>
        <script type="text/javascript" src="../js/bgm.toast.js"></script>
	</head>
	<body>
		<div id="search" data-role="page" data-add-back-btn="true" data-dom-cache="true">
			<div data-role="header" data-theme="a" data-position="fixed">
				<h1 data-bind="text : messages.global_search"></h1>				
				<a data-bind="attr : { href : '../main.html' }" data-role="button" data-icon="home" data-iconpos="notext" data-mini="true" data-inline="true" class="ui-btn-right"></a>				
			</div>
			<div data-role="content" data-theme="c" >				
				<input type="search" name="search-mini" id="search-mini" data-bind="value:searchstring, event : {change : searchposts}" data-mini="true" />
				<div class="search-contents-margin" data-bind="visible : posts().length > 0">
							<h2 data-bind="jqmtext : messages.search_resultstitle + $root.searchstring()"></h2>
							<ul data-role="listview" data-bind="foreach:posts">
								<li>																	
									<a data-bind="attr : { href : '../views/post.html?postid='+ postid }" >									
										<img data-role="bgm-list-image" data-bind="attr : { src : '../img/transparent.gif', 'data-original' : Application.config.api_url + 'getthumbnail?url=' + thumbnailpath + '&width=70&height=70', alt : category }" />
										<h5 class="remove-ellipsis" data-bind="text:title"></h5>
										<p class="remove-ellipsis" data-bind="text:description"></p>				
										<p class="ui-li-aside"><strong data-bind="text:date"></strong></p>
										<p><strong data-bind="text:date"></strong></p>									
									</a>				
								</li>															
							</ul>	
							<a href="#" class="loadmore" data-role="button" data-theme="b" data-bind="event : { tap:loadmore }, jqmtext : messages.global_loadmore, jqmbuttonenabled : pendingposts"></a>						
				</div>
			</div>
			<div data-role="footer" data-theme="a" data-position="fixed">
				<div data-role="navbar">
					<ul>						
						<li><a data-bind="jqmtext:messages.global_categories, attr : { href : '../views/categories.html' }" data-role="button"  data-icon="book"></a></li>							   												
						<li><a data-bind="jqmtext:messages.global_tags, attr : { href : '../views/tags.html' }" data-role="button"  data-icon="tags"></a></li>							   																		
					</ul>
				</div>				
			</div>			
		</div>
	</body>
</html>