<!DOCTYPE html>
<html>
	<head>		
        <title></title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
		<link href="../css/jquery.mobile.theme.css" rel="stylesheet" type="text/css" />		
		<link href="../css/jquery.mobile.structure.css" rel="stylesheet" type="text/css" />		
        <link href="../css/styles.css" rel="stylesheet" type="text/css" />			
		<link rel="stylesheet" href="../css/jqm-icon-pack-2.1.2-fa.css" />
		<link rel="stylesheet" href="../css/prettify.css" />
		<script type="text/javascript" src="../js/jquery.js"></script>
		<script type="text/javascript" src="../js/knockout-2.1.js"></script>
		<script type="text/javascript" src="../js/mapper.js"></script>		
		<script type="text/javascript" src="../js/jquery.lazy.load.js"></script>						
        <script type="text/javascript" src="../js/url.parser.js"></script>
		<script type="text/javascript" src="../js/globalize.js"></script>
		<script type="text/javascript" src="../js/cultures/globalize.culture.es.js"></script>		
		<script type="text/javascript" src="../js/prettify.js"></script>
        <script type="text/javascript" src="../js/binding-handlers.js"></script>
		<script type="text/javascript" src="../js/homeViewModel.js"></script>
        <script type="text/javascript" src="../js/postViewModel.js"></script>
        <script type="text/javascript" src="../js/postsbyViewModel.js"></script>
		<script type="text/javascript" src="../js/categoriesViewModel.js"></script>        
		<script type="text/javascript" src="../js/tagsViewModel.js"></script>        		
		<script type="text/javascript" src="../js/searchViewModel.js"></script>  
		<script type="text/javascript" src="../js/bgm.app.js"></script>		
		<script type="text/javascript">
			var Application =  new App();			
		    $(document).bind("mobileinit", function () {				
		        $.mobile.defaultPageTransition = "none";				
		        $.mobile.listview.prototype.options.filterPlaceholder = Globalize.localize("global_filteritems", Application.appLanguage());		        
		    });		
		</script>		
		<script type="text/javascript" src="../js/jquery.mobile.js"></script>	
        <script src="../phonegap.js"></script>
		<script src="../GAPlugin.js"></script>		
        <script type="text/javascript" src="../js/bgm.app.js"></script>
		<script type="text/javascript" src="../js/bgm.init.js"></script>
        <script type="text/javascript" src="../js/bgm.toast.js"></script>
	</head>
	<body>
		<div id="tags" data-role="page" data-add-back-btn="true" data-bind="event : { swipeleft : closePanel, swiperight : openPanel }">
			<div data-role="panel" id="leftmenu" data-theme="b" data-position="left" data-position-fixed="true" data-display="reveal">
				<ul data-role="listview" data-theme="d" data-inset="true">						
					<li data-role="list-divider">Menu</li>					
					<li><a data-bind="text:messages.global_home, attr : { href : '../main.html' } " ></a></li>							   				
					<li><a data-bind="text:messages.global_categories, attr : { href : '../views/categories.html' }" ></a></li>							   						
					<li><a data-bind="text:messages.global_search, attr : { href : '../views/search.html' } " ></a></li>						
				</ul>
			</div>			
			<div data-role="header" data-theme="b" data-position="fixed">
				<a href="#leftmenu" data-role="button" data-iconpos="notext"  data-inline="true" data-icon="th"></a>	
				<h1 data-bind="text : messages.tags_tags"></h1>				
				<a data-bind="jqmtext : $root.messages.global_backbuttontext, attr : { href : '../main.html' }" data-icon="arrow-l" data-role="button" data-rel="back" data-inline="true" class="ui-btn-right"></a>
			</div>
			<div data-role="content" data-reset-content="true" data-theme="c" data-bind="visible : contentvisible" >                				
				<ul data-role="listview" data-bind="foreach:tags" data-filter="true">
					<li>																	
						<a data-bind="attr : { href : '../views/postsby.html?by=tag&id='+ encodeURIComponent(name) }" >
							<h5 class="remove-ellipsis" data-bind="text:name"></h5>
							<p class="remove-ellipsis" data-bind="text:description"></p>				
						</a>				
					</li>															
				</ul>					
			</div>
		</div>
	</body>
</html>